@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("images/background.jpg");
    background-size: cover;
}

ul, li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#toolbar {
    position: fixed;
    z-index: 20;
    left: 0;
    background: white;
    margin: 1em;
    border-radius: 10px;
    padding: 1em;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
}

#toolbar .toolbar_option {
    margin: 1em 0;
    cursor: pointer;
}

#toolbar .toolbar_option:hover img {
    transform: scale(1.1);
    transition: all ease-in 100ms;
}

#toolbar .toolbar_option > img {
    width: 2em;
    height: 2em;
}

#yearbook {
    max-width: 1152px;
    max-height: 752px;
    width: 100%;
    height: 100%;
}

#yearbook .turn-page {
    background-color: #ccc;
    background-size: 100% 100%;
}

#yearbook .page {
    background: white;
}

#yearbook .page.left_page {
    box-shadow: inset -13px 0 10px -5px rgb(0 0 0 / 10%);
}

#yearbook .page.right_page {
    box-shadow: inset 13px 0 10px -5px rgb(0 0 0 / 10%);
}

#yearbook .page .page_number {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 1em;
}

#yearbook .page.left_page .page_number {
    right: unset;
    left: 0;
}

#yearbook .page .content {
    padding: 20px;
    height: calc(100% - 40px);
}

#yearbook .page .content * {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.yearbook_cover_img {
    width: 100%;
    height: 100%;
}

.class_photos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 20px;
}

.class_photo {
    position: relative;
    background: #eee;
    width: 100%;
    height: 150px;
}

.class_photo video {
    width: 100%;
    height: 150px;
    object-fit: cover;
    filter: brightness(50%);
}

.class_photo img.icon {
    width: 2em;
    height: 2em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.countdown {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: xxx-large;
    color: white;
}

.draggable_text,
.emitted_text {
    font-family: 'Permanent Marker', cursive;
    font-size: 2em;
}

.draggable_text {
    z-index: 10;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.emitted_text {
    position: absolute;
    z-index: 100;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

#droppable_area {
    z-index: 9;
    position: fixed;
    max-width: 1152px;
    max-height: 752px;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#droppable_area .layout {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

#droppable_area .layout .content {
    padding: 2em;
}

#droppable_area .layout .content h1 {
    text-align: center;
}

#droppable_area .sticker {
    position: absolute;
}

.back_cover {
    background: #845540 !important;
}

.toolbar_option[type="add_sticker"] {
    position: relative;
}

.stickers_wrapper {
    position: absolute;
    left: calc(100% + 1.5em);
    background: #eee;
    padding: 2em;
    border-radius: 0.5em;
    top: -200%;
    display: none;
}

.stickers_wrapper .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.stickers_wrapper h3 {
    margin: 0;
}

.sticker {
    width: 5em;
    cursor: pointer;
}

/* https://loading.io/css/ */
.lds-hourglass {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.lds-hourglass:after {
    content: " ";
    display: block;
    border-radius: 50%;
    width: 0;
    height: 0;
    margin: 8px;
    box-sizing: border-box;
    border: 32px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: lds-hourglass 1.2s infinite;
}

@keyframes lds-hourglass {
    0% {
        transform: rotate(0);
        animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
    50% {
        transform: rotate(900deg);
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    100% {
        transform: rotate(1800deg);
    }
}
